<div class="container">
<div class="form">
  <ng-form [formGroup]="inputForm">
    <mat-form-field>
      <label>
        <input matInput placeholder="0.00" formControlName="amountInput" [(ngModel)]="amount" required>
      </label>
    </mat-form-field>
  </ng-form>
</div>
<div>
  <button mat-raised-button (click)="makeChange()" color="primary">
    Make Change
  </button>
</div>
<div class="output">
  <h3>Silver dollars: </h3>{{coinData.silverDollar}}
  <h3>Half dollars: </h3>{{coinData.halfDollar}}
  <h3>Quarters: </h3>{{coinData.quarter}}
  <h3>Dimes: </h3>{{coinData.dime}}
  <h3>Nickels: </h3>{{coinData.nickel}}
  <h3>Pennies: </h3>{{coinData.penny}}
</div>
<router-outlet></router-outlet>
</div>
