<body>
  <div class="navbar">
    <mat-toolbar color="primary">
      <span>Nerd Assessment Test - Backend</span>
      <span class="fill-space"></span>
      <span>
        <a mat-raised-button class="git-button" style="background-color: lime;color: deeppink" href="https://github.com/cenzoreyes/NerdTest">
          See it on Git!
        </a>
      </span>
    </mat-toolbar>
  </div>
  <div class="container">
    <div class="form">
      <ng-form [formGroup]="inputForm">
        <mat-form-field appearance="outline" color="accent">
          <mat-icon matSuffix>attach_money</mat-icon>
          <mat-label>Enter a dollar amount</mat-label>
          <input matInput placeholder="0.00" maxlength="8" formControlName="amountInput" [(ngModel)]="amount" required>
        </mat-form-field>
      </ng-form>
    </div>
    <div class="button">
      <button mat-raised-button (click)="makeChange()" color="primary">
        Make Change
      </button>
    </div>
    <div *ngIf="coinData.amount > 0" class="output">
      <h4>Silver dollars: {{coinData.silverDollar}}</h4>
      <h4>Half dollars: {{coinData.halfDollar}}</h4>
      <h4>Quarters: {{coinData.quarter}}</h4>
      <h4>Dimes: {{coinData.dime}}</h4>
      <h4>Nickels: {{coinData.nickel}}</h4>
      <h4>Pennies: {{coinData.penny}}</h4>
    </div>
    <router-outlet></router-outlet>
  </div>
<footer class="footer-bar" >
  <p>Vincenzo Reyes <b>|</b> cenzoreyes@gmail.com <b>|</b> (773)-837-1404</p>
</footer>
</body>
