<div class="container">
  <ng-form [formGroup]="inputForm">
    <mat-form-field>
      <label>
        <input matInput placeholder="0.00" formControlName="amountInput" [(ngModel)]="amount" required>
      </label>
    </mat-form-field>
  </ng-form>
</div>
<div>
  <button mat-raised-button (click)="makeChange()" color="primary">
    Make Change
  </button>
</div>
<div>
  <a>Silver dollars: </a>{{coinData.silverDollar}}
  <br>
  <a>Half dollars: </a>{{coinData.halfDollar}}
  <br>
  <a>Quarters: </a>{{coinData.quarter}}
  <br>
  <a>Dimes: </a>{{coinData.dime}}
  <br>
  <a>Nickels: </a>{{coinData.nickel}}
  <br>
  <a>Pennies: </a>{{coinData.penny}}
</div>
<router-outlet></router-outlet>
